@charset "utf-8";

#slide #main_img {
	margin: 0 auto;
	border-width: 20px;
	border-style: solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

#slide ul.thumbnails {
	list-style: none;
	margin: 20px auto;
	padding: 0;
}

#slide ul.thumbnails li {
	display: inline;
	float: left;
	padding: 0;
}

#slide ul.thumbnails li a {
	position: relative;
	border-radius: 4px;
	-moz-border-radius: 4px;
	display: block;
	width: 100%;
}

* html #slide ul.thumbnails li a {
	height: 1px;
}

#slide ul.thumbnails li img,
#slide ul.thumbnails li h2 {
	display: inline;
	float: left;
}

#slide ul.thumbnails li img {
	border-style: solid;
	margin-right: 12px;
}

#slide ul.thumbnails li h2 {
	cursor: pointer;
	margin: 0;
	padding: 0;
	text-align: left;
}
