ul {
  font-family: Arial, Verdana;
  font-size: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  display: block;
  position: relative;
  float: left;
}
li ul { display: none; }
ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  border-top: 1px solid #ffffff;
  padding: 8px 15px 8px 15px;
  background: #B8860B;
  margin-left: 1px;
  white-space: nowrap;
}
ul li a:hover { background: #DAA520; }
li:hover ul {
  display: block;
  position: absolute;
}
li:hover li {
  float: none;
  font-size: 14px;
}
li:hover a { background: #DAA520; }
li:hover li a:hover { background: #B8860B; }
